<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css_/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" name="username" placeholder="Ingrese su usuario" required>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" placeholder="Ingrese su contraseña" required>

            <button type="submit">Ingresar</button>
        </form>

        <p>¿No tienes una cuenta? <a href="{% url 'crear_cuenta' %}">Crear cuenta</a></p>
    </div>
</body>
</html>
